{% extends "base.html" %}
{% block title %}Введите новый пароль{% endblock %}
{% block body %}
    {% if validlink %}
        <div align="center">
        <div class="loginDiv" align="center">
        <p>Введите и подтвердите новый пароль</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Новый пароль:</label>
            {{ form.new_password1 }}
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Подтвердите пароль:</label>
            {{ form.new_password2 }}
            <input type="submit" value="Сменить пароль" />
        </form>
        </div>
        </div>
    {% else %}
        <div align="center">
        <div class="loginDiv" align="center">
        <h1>Сброст пароля не удался</h1>
        <p>Ссылка для сброса пароля уже использована или просрочена.
            Попробуйте заного запросить сброс пароля</p>
        </div>
        </div>
    {% endif %}

{% endblock %}